/* Place any CSS overrides in this file. */
body{
    font-family: 'Noto Sans JP', Roboto, sans-serif!important;
}
.template-collection .main-content{
    margin-top: 75px;
}
.wrapper-padded .breadcrumb{
    margin: 15px auto;
    max-width: 1200px;
}
@media only screen and (min-width: 769px){
    .template-collection .main-content{
        margin-top: 100px;
    }
    .main-page-container.wrapper-padded,
    .template-cart .wrapper-padded{
        max-width: 1260px;
        margin: 0 auto;
    }
}

/* title */
h2.homepage-sections--title{
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: .2em;
}
.shopify-section .homepage-featured-rich-text{
    position: relative;
    margin-bottom: 60px;
}
.shopify-section .homepage-featured-rich-text::before,
.shopify-section .homepage-featured-rich-text::after{
    content: '';
    background: #C63134;
    width: 70px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-65deg);
    transform-origin: center;
}
.shopify-section .homepage-featured-rich-text::after{
    left: auto;
    right: 0;
}
@media only screen and (min-width: 769px){
    .shopify-section .homepage-featured-rich-text{
        max-width: 360px;
        margin: 0 auto 70px;
    }
}

/* 最近見た商品 */
.main-content .recently-viewed-products{
    margin-top: 20px;
}
.recently-viewed-products h2.page--title{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 0;
    letter-spacing: .2em;
    position: relative;
}
.recently-viewed-products h2.page--title::after{
    content: '最近見た商品';
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    right: 0;
    bottom: -25px;
    text-align: center;
}
.recently-viewed-products .sitewide--title-wrapper{
    position: relative;
    margin-bottom: 60px;
}
.recently-viewed-products .sitewide--title-wrapper::before,
.recently-viewed-products .sitewide--title-wrapper::after{
    content: '';
    background: #C63134;
    width: 70px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-65deg);
    transform-origin: center;
}
.recently-viewed-products .sitewide--title-wrapper::after{
    left: auto;
    right: 0;
}
.recently-viewed-products .swiper-button--next,
.recently-viewed-products .swiper-button--prev{
    top: 42%;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    box-shadow: 0px 0px 12px 0px rgba(142, 142, 142, 0.25);
}
.recently-viewed-products .swiper-button--next::after{
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    display: inline-block;
    transform: rotate(45deg);
    margin-left: -2px;
}
.recently-viewed-products .swiper-button--prev::after{
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    display: inline-block;
    transform: rotate(-135deg);
    margin-right: -2px;
}
@media only screen and (min-width: 769px){
    .main-content  .recently-viewed-products{
        max-width: 1200px;
        margin: 40px auto 0;
    }
    .recently-viewed-products h2.page--title{
        font-size: 26px;
    }
    .recently-viewed-products .sitewide--title-wrapper{
        max-width: 540px;
        margin: 0 auto 70px;
    }
}


/* 関連商品 */
.main-content .product-page-related-products{
    margin-top: 20px;
}
.product-page-related-products h2.page--title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
    letter-spacing: .2em;
}
.product-page-related-products h2.page--title::after{
    content: '関連商品';
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    right: 0;
    bottom: -25px;
    text-align: center;
}
.product-page-related-products .sitewide--title-wrapper{
    position: relative;
    margin-bottom: 60px;
}
.product-page-related-products .sitewide--title-wrapper::before,
.product-page-related-products .sitewide--title-wrapper::after{
    content: '';
    background: #C63134;
    width: 70px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-65deg);
    transform-origin: center;
}
.product-page-related-products .sitewide--title-wrapper::after{
    left: auto;
    right: 0;
}
.product-page-related-products .swiper-button--next,
.product-page-related-products .swiper-button--prev{
    top: 42%;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    box-shadow: 0px 0px 12px 0px rgba(142, 142, 142, 0.25);
}
.product-page-related-products .swiper-button--next::after{
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    display: inline-block;
    transform: rotate(45deg);
    margin-left: -2px;
}
.product-page-related-products .swiper-button--prev::after{
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    display: inline-block;
    transform: rotate(-135deg);
    margin-right: -2px;
}
.swiper-button--next.swiper-button-disabled, 
.swiper-button--prev.swiper-button-disabled{
    opacity: 0;
}

@media only screen and (min-width: 769px){
    .main-content .product-page-related-products{
        margin-top: 40px;
    }
    .product-page-related-products h2.page--title{
        font-size: 26px;
    }
    .product-page-related-products .wrapper-padded{
        max-width: 1200px;
        margin: 0 auto;
    }
    .product-page-related-products .sitewide--title-wrapper{
        max-width: 450px;
        margin: 0 auto 70px;
    }
}

/* button */
.homepage-product-grid-wrapper .grid-view-item .quick-add-button-onboarding, 
.homepage-product-grid-wrapper .grid-view-item .quick-add-button-variants, 
.homepage-product-grid-wrapper .grid-view-item .sold-out-button,
.homepage-product-grid-wrapper .grid-view-item .quick-add-button,
.shopify-section .grid-view-item .quick-add-button-onboarding, 
.shopify-section .grid-view-item .quick-add-button-variants, 
.shopify-section .grid-view-item .sold-out-button,
.shopify-section .grid-view-item .quick-add-button{
    font-size: 13px;
    color: #333;
    background: white;
    border: 1px solid #333;
    padding: 6px 20px;
    border-radius: 30px;
}
.homepage-product-grid-wrapper .grid-view-item .quick-add-button-onboarding:hover, 
.homepage-product-grid-wrapper .grid-view-item .quick-add-button-variants:hover, 
.homepage-product-grid-wrapper .grid-view-item .sold-out-button:hover,
.homepage-product-grid-wrapper .grid-view-item .quick-add-button:hover,
.shopify-section .grid-view-item .quick-add-button-onboarding:hover, 
.shopify-section .grid-view-item .quick-add-button-variants:hover, 
.shopify-section .grid-view-item .sold-out-button:hover,
.shopify-section .grid-view-item .quick-add-button:hover{
    color: white;
    background: #C63134;
    border-color: #C63134;
}

/* product */
.product-grid--price{
    font-weight: 600;
}
.homepage-product-grid-wrapper .product-grid--price .money, 
.homepage-product-grid-wrapper .product-grid--title,
.homepage-product-grid-wrapper .product-grid--price,
.shopify-section .product-grid--price,
.shopify-section .product-grid--title{
    text-align: left;
}
.product-grid--price small{
    font-size: 10px;
    font-weight: 500;
}
.quick-add-wrapper{
    margin-top: 15px;
}
@media only screen and (min-width: 769px){
    .homepage-sections-wrapper .homepage-product-grid-wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }
    a.grid__image:hover{
        opacity: .8;
    }
    .collection-style--grid .grid__item{
        margin-bottom: 50px;
    }
}

/* section */
.shopify-section.featured-products-wrapper{
    border-top: 1px solid #ccc;
}
.shopify-section.featured-products-wrapper .homepage-sections-wrapper{
    padding: 50px 0 0;
}
@media only screen and (min-width: 769px){
    .shopify-section.featured-products-wrapper{
        padding-top: 20px;
    }
}

/* header */
.contact-page .overlay-header, 
.template-collection .overlay-header, 
.template-index .overlay-header, 
.template-list-collections .overlay-header{
    border-bottom: none!important;
    background-color: transparent;
    background-color: white!important;
    padding: 0;
}
header .site-header__logo{
    background: white;
}
header .site-header__wrapper__left{
    margin: 0!important;
}
.site-nav__link{
    color: #333!important;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Noto Sans JP';
}
.drawer.drawer--left{
    width: 100%;
    max-width: 100%;
}
#NavDrawer .mobile-menu--close-btn:after, 
#NavDrawer .mobile-menu--close-btn:before{
    content: none;
}
#NavDrawer .mobile-nav__grow{
    margin-left: 10px;
    justify-content: flex-start;
}
.nav-bar .wrapper-padded{
    padding: 0 13px 0 10px;
}
.nav-bar .site-header__logo.h1{
    padding: 15px 0;
}
.nav-bar .responsive-image-wrapper{
    justify-content: flex-start;
}
img.logo_overlay.js,
.nav-bar .responsive-image-wrapper img.logo_image {
    max-width: 165px!important;
    margin: 0;
}
.nav-bar .six-twelfths{
    width: 50%;
    margin-top: 0;
}
.nav-bar .three-twelfths.right-side{
    width: 35%;
    margin-top: 0;
}
.nav-bar.mobile-nav-bar-wrapper .mobile-grid--table{
    display: flex;
    table-layout: unset;
    justify-content: space-between;
    align-items: center;
}
.nav-bar.mobile-nav-bar-wrapper .mobile-grid--table .flex_menu{
    order: 3;
    width: 15%;
    margin-top: 0;
}
.nav-bar.mobile-nav-bar-wrapper button.site-nav__link{
    padding: 0;
    margin-left: 0;
}
.nav-bar .site-nav--mobile .search-button svg,
#NavDrawer .site-nav--mobile .search-button svg{
    width: 25px;
}
.mobile-nav .mobile-nav__has-sublist.mobile-nav--expanded + .mobile-nav__sublist{
    padding-bottom: 15px;
}
.mobile-nav .mobile-nav__sublist .mobile-nav__link{
    font-size: 13px;
    padding: 7px 0;
}
.mobile-nav .mobile-nav__sublist .mobile-nav__item:after{
    content: none;
}
.mobile-nav__item.icon_instagram a{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    margin: 0;
}
.mobile-nav__item.icon_instagram a svg{
    width: 43px;
    height: 43px;
}
.drawer.drawer--right{
    border-left: none;
    max-width: 100%;
}
.drawer.drawer--right.short {
    height: 135px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.drawer.drawer--right.short .search-drawer svg{
    width: 25px;
}
.drawer.drawer--right.short #SearchContainer .search-drawer > .input-group{
    margin: 30px auto 37px 24px;
    width: 300px;
}
.drawer.drawer--right.short #SearchContainer #search-input{
    border: 1px solid #666;
    border-radius: 7px;
    padding: 22px 8px 15px;
}
.drawer.drawer--right.short #SearchContainer #search-input::placeholder{
    color: #ccc;
}
.drawer.drawer--right.short #SearchContainer .input-group-btn{
    top: 10px;
    left: auto;
    right: 0;
}
.overlay-header-wrapper .site-header__cart-indicator{
    background: #333;
}
.flow-homepage{
    margin-top: 75px;
}
.drawer--right #SearchContainer .search-drawer .search-input-group .search-drawer--clear{
    right: 50px;
    bottom: 10px;
}
.drawer--right .swatch .swatch-element label{
    border-radius: 30px;
}
.drawer--right #AddToCartForm #Quantity{
    padding: 10px 25px;
    border-bottom: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.drawer--right #ShopNowContainer #AddToCartForm .js-qty{
    max-width: 130px;
}
.drawer--right #AddToCartForm .js-qty__adjust{
    padding: 0 14px;
}
.drawer--right .swatch .swatch-element.image-swatch label.image-swatch-small.aspect-ratio--square{
    width: auto;
    height: auto;
    padding: 5px 20px;
    border: 1px solid #333;
}
.drawer--right .swatch .swatch-element.image-swatch label.image-swatch-small.aspect-ratio--square:hover{
    background: #C63134;
    border-color: #c63134;
    color: #fff;
}
.drawer--right .swatch .swatch-element.image-swatch input+label:after{
    content: none;
}
.drawer--right .text-with-icon svg{
    fill: #C63134;
}
.drawer--right .paymentButtonsWrapper #AddToCart.add-to-cart--secondary:not(.disabled){
    background: #C63134;
    color: #fff;
    padding: 16px 35px;
    font-weight: 600;
}
.page--title.no_results{
    font-size: 20px;
}
@media only screen and (min-width: 769px){
    header.site-header{
        max-width: 1500px;
        position: relative;
        margin: auto;
        background-color: transparent;
        border-bottom: none;
    }
    header.site-header .site-header__wrapper .site-header__wrapper__left .site-header__logo{
        padding: 30px 20px 30px 30px;
    }
    header .cart-item-count-header--has-label:before{
        content: none;
    }
    .contact-page .overlay-header, 
    .template-collection .overlay-header, 
    .template-index .overlay-header, 
    .template-list-collections .overlay-header{
        border-bottom: none!important;
        background-color: transparent!important;
        margin-left: 0;
    }
    img.logo_overlay.js,
    .nav-bar .responsive-image-wrapper img.logo_image {
        max-width: 314px!important;
        margin: 0;
    }
    .flow-homepage{
        margin-top: 100px;
    }
    .sticky-headr,
    .template-index .header-section.sticky-header.sticky-header-open:not(.unstuck) .overlay-header{
        background-color: transparent!important;
    }
    .drawer.drawer--left{
        width: 0;
    }
    .top-links--icon-links{
        flex-direction: column;
        position: fixed;
        top: 125px;
        right: 25px;
        gap: 20px
    }
    .top-links--icon-links .header--supporting-text{
        position: absolute;
        right: 8px;
        top: 10px;
    }
    .top-links--icon-links .header--supporting-text span{
        color: #333;
        background: white;
        border-radius: 20px;
        width: 20px;
        height: 20px;
        display: block;
        text-align: center;
    }
    .top-links .top-links--icon-links li a{
        padding: 0;
    }
    .top-links .top-links--icon-links li a:hover{
        opacity: .8;
    }
    header .site-header .wetheme-dropdown button:hover, 
    header .site-header__logo-link:hover, 
    header .top-links a:focus, 
    header .top-links a:hover{
        color: #C63134!important;
        transition: 0.3s;
    }
    .site-nav__dropdown.standard-dropdown li .site-nav__link{
        font-size: 13px;
        font-weight: 400;
    }
    .site-nav--has-dropdown a{
        position: relative;
    }
    .site-nav--has-dropdown > a::after{
        content: '';
        background: url(https://cdn.shopify.com/s/files/1/0815/8035/9955/files/Vector_red.png?v=1696315821);
        background-repeat: no-repeat;
        background-size: contain;
        width: 12px;
        display: block;
        height: 7px;
        position: absolute;
        right: 0;
        bottom: 22px;
    }
    .site-header .site-header__wrapper .site-header__wrapper__right{
        margin-right: 28px;
    }
    .icon_instagram{
        vertical-align: middle;
    }
    .icon_instagram a{
        padding: 0;
    }
    .drawer.drawer--right{
        max-width: 500px;
    }
    .drawer.drawer--right.short {
        height: 180px;
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }
    .drawer.drawer--right.short .drawer__header{
        width: 16px;
        margin-left: 20px;
    }
    .drawer.drawer--right.short .drawer__close button{
        width: 16px;
        height: 16px;
        right: 0;
        top: 0;
    }
    .drawer.drawer--right.short #SearchContainer .search-drawer>.input-group{
        width: 500px;
    }
}

/* footer */
.footer-wrapper{
    border-top: 1px solid #C63134;
}
.footer-main .footer-header{
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    position: relative;
    margin-bottom: 0;
}
.footer-main .grid .grid__item:nth-child(1) .footer-header{
    border-top: none;
}
.footer-main .footer-article,
.footer-main .footer-content{
    text-align: left;
    font-weight: 500;
    line-height: 1.7rem;
    margin-top: 20px;
}
.footer-content > a{
    font-size: 14px;
}
.links-footer .footer-content > li{
    margin-bottom: 10px;
}
.links-footer .footer-content .footer--level-2{
    margin-bottom: 26px;
    padding-left: 0;
}
.footer-article p,
.footer-content .footer--level-2 a{
    font-size: 13px;
}
.bottom--footer a{
    color: black;
}
.link_contact__footer{
    background: #C63134;
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding: 15px 50px;
    display: inline-block;
    width: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}
.links-footer .footer-header::after{
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0815/8035/9955/files/Vector.png?v=1696315821);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    display: block;
    height: 7px;
    position: absolute;
    right: 0;
    bottom: 10px;
} 
.links-footer .footer-header.opened::after{
    transform: rotate(180deg);
}
.links-footer .footer-content{
    display: none;
    transition: .3s;
}
.links-footer .footer-content.opened{
    display: block;
    transition: .3s;
}
@media only screen and (min-width: 769px){
    .footer-wrapper{
        padding-top: 100px;
    }
    .footer-wrapper .wrapper-padded{
        max-width: 1335px;
    }
    .footer-main .footer-content a:hover{
        color: #C63134;
        transition: 0.3s;
    }
    .links-footer .footer-header::after{
        content: none;
    }
    .links-footer .footer-content{
        display: block;
    }
    .link_contact__footer{
        padding: 12px 36px;
        font-size: 14px;
        font-weight: 500;
    }
    .footer-main .link_contact__footer:hover{
        opacity: 0.8;
        color: white;
    }
    .footer-main .footer-header{
        font-size: 16px;
    }
    .footer-main .grid .grid__item{
        padding-left: 75px;
        position: relative;
    }
    .footer-main .grid .grid__item::before{
        content: '';
        background: #C63134;
        height: 315px;
        width: 1px;
        position: absolute;
        left: 0;
    }
    .footer-main .grid .grid__item:nth-child(1)::before{
        content: none;
    }
    .footer-main .grid .grid__item:nth-child(2) .footer-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
    }
    .footer-main .footer-article{
        line-height: 1rem;
    }
    .footer-main .footer-content{
        line-height: 1.5rem;
    }
    .footer-main .grid .grid__item:nth-child(1) .footer-header{
        font-size: 18px;
        padding-top: 0;
    }
    footer.footer-main .large--one-third{
        width: 30%;
    }
    footer.footer-main .large--one-third:nth-child(2){
        width: 40%;
    }
}

/* MV */
.slideshow--full-width .swiper-pagination{
    position: absolute;
    left: auto;
    right: 10px;
    width: auto;
}
.homepage-slider-container .slideshow--full-width .swiper-pagination .swiper-pagination-bullet{
    background: white;
    border-color: white;
    margin: 0 10px;
    width: 12px;
    height: 12px;
}
.homepage-slider-container .slideshow--full-width .swiper-pagination .swiper-pagination-bullet-active {
    background: #c63134;
    border-color: #c63134;
}
@media only screen and (min-width: 769px){
    .flow-homepage .homepage-slider-container{
        padding-left: 6%;
        height: 630px;
    }
    .flow-homepage .homepage-slider-container .swiper-container .swiper-wrapper img{
        height: 630px;
    }
    .slideshow--full-width .swiper-pagination{
        right: 25px;
    }
}

/* information */
.homepage-information-section-wrapper{
    display: none;
}
.template-index .blog-posts-wrapper .homepage-sections-wrapper{
    padding: 60px 0 40px;
}
.template-index .blog-posts-wrapper .wrapper-padded{
    display: flex;
    flex-direction: column;
}
.template-index .blog-posts-wrapper .grid > .row{
    display: flex;
    flex-direction: column;
}
.template-index .blog-posts-wrapper .large--one-quarter{
    width: 100%;
}
.template-index .homepage-information-section-wrapper{
    display: block;
}
.template-index .blog-posts-wrapper .homepage-sections--title{
    color: #C63134;
    font-size: 24px;
    text-align: left;
    position: relative;
}
.template-index .blog-posts-wrapper .homepage-sections--title::after{
    content: 'お知らせ';
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-left: 20px;
}
.homepage-information-section-wrapper .homepage-information-section-wrapper_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 40px;
}
.homepage-information-section-wrapper .homepage-information-section-wrapper__title span{
    font-size: 20px;
}
.homepage-information-section-wrapper .homepage-information-section-wrapper__title p{
    color: #C63134;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .2em;
    margin: 0;
}
.homepage-information-section-wrapper .homepage-information-section-wrapper__img{
    max-width: 100px;
}
.homepage-information-section-wrapper .homepage-information-section-wrapper__btn a{
    background-color: #C63134;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 24px 0;
    width: 100%;
    display: block;
    text-align: center;
}
.blog-posts-wrapper .homepage-blog--date{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.blog-posts-wrapper .homepage-blog--title{
    margin: 10px 0;
}
.blog-posts-wrapper .homepage-blog--title a{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans JP';
}
.homepage-blog-mobile .grid__item{
    margin-bottom: 20px;
}
.blog-posts-wrapper .information__more{
    text-align: center;
    margin-bottom: 30px;
}
.blog-posts-wrapper .information__more a{
    background: #333;
    color: white;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 30px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
@media only screen and (min-width: 769px){
    .template-index .blog-posts-wrapper .homepage-sections-wrapper{
        padding: 100px 0 80px;
    }
    .template-index .blog-posts-wrapper .wrapper-padded{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1260px;
    }
    .template-index .blog-posts-wrapper .homepage-indiv-section-wrapper{
        width: 50%;
    }
    .template-index .blog-posts-wrapper .homepage-indiv-section-wrapper .grid{
        margin-left: 0;
    }
    .template-index .blog-posts-wrapper .grid__item{
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 35px;
        padding-left: 0;
    }
    .template-index .blog-posts-wrapper .grid__item .homepage-blog--title{
        margin: 0 0 0 20px;
        line-height: 1;
    }
    .template-index .homepage-information-section-wrapper{
        width: 50%;
        max-width: 450px;
    }
    .homepage-information-section-wrapper .homepage-information-section-wrapper_inner{
        padding: 10px 30px;
    }
    .homepage-information-section-wrapper .homepage-information-section-wrapper__btn a{
        max-width: 330px;
        margin: 0 auto;
    }
    .homepage-information-section-wrapper .homepage-information-section-wrapper__btn a:hover{
        opacity: .8;
    }
    .template-index .blog-posts-wrapper .grid>.row{
        margin-bottom: 20px;
    }
    .blog-posts-wrapper .information__more{
        text-align: left;
    }
    .blog-posts-wrapper .information__more a:hover{
        background-color: #C63134;
        transition: .2s;
    }
    .template-index .blog-posts-wrapper .homepage-sections--title{
        margin-bottom: 20px;
    }
}

/* category menu */
.flow-homepage .homepage-collections-background .collection-grid .homepage-collection-grid-item{
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
.flow-homepage .homepage-collections-background .collection-grid .homepage-collection-grid-item::after{
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0815/8035/9955/files/Polygon_4.png?v=1696495643);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 12px;
    height: 13px;
}
.flow-homepage .collection-grid .homepage-collection-grid-item .grid-image{
    max-width: 46px;
    max-height: 36px;
    margin-right: 20px;
}
.flow-homepage .collection-grid .homepage-collection-grid-inner{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.flow-homepage .collection-grid .homepage-collection-grid-item .grid-item__title{
    font-family: 'Noto Sans JP';
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.flow-homepage .collection-grid .homepage-collection-grid-item .grid-item__content{
    padding: 0;
}
@media only screen and (min-width: 769px){
    .flow-homepage .collection-grid{
        max-width: 1200px;
        margin: 0 auto;
    }
    .flow-homepage .collection-grid .homepage-collection-grid-inner{
        flex-direction: column;
        margin-left: 0;
    }
    .flow-homepage .collection-grid .homepage-collection-grid-item .grid-image{
        margin: 0 0 15px 0; 
    }
    .flow-homepage .homepage-collections-background .collection-grid .homepage-collection-grid-item{
        border-bottom: none;
        border-right: 1px solid #ccc;
        padding: 20px 0 5px 0;
    }
    .flow-homepage .homepage-collections-background .collection-grid .homepage-collection-grid-item:after{
        right: 10px;
        width: 12px;
    }
    .flow-homepage .homepage-collections-background .collection-grid > .homepage-collection-grid-item:first-of-type{
        border-left: 1px solid #ccc;
    }
    .flow-homepage .homepage-collections-background .collection-grid .homepage-collection-grid-item:hover{
        opacity: .7;
    }
}

/* おばねやの思い */
.flow-homepage .image-with-text-wrapper h2.homepage-sections--title{
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px){
    .flow-homepage .image-with-text-wrapper .responsive-image-wrapper img{
        width: auto;
        height: 600px;
    }
    .flow-homepage .image-with-text-wrapper .feature_row__image_wrapper{
        height: max-content;
        position: absolute!important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        float: none;
        padding: 22px;
    }
    .flow-homepage .image-with-text-wrapper .feature_row__image_wrapper > .homepage-featured-content-box-inner{
        background: rgba(255,255,255, 0.4);
    }
}
@media only screen and (min-width: 769px){
    .flow-homepage .image-with-text-wrapper h2.homepage-sections--title{
        font-size: 32px;
    }
    .flow-homepage .image-with-text-wrapper .feature_row__image_wrapper{
        margin: auto!important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: max-content;
        transform: none;
        width: 60%;
        background: transparent;
    }
    .flow-homepage .image-with-text-wrapper .feature_row__image_wrapper > .homepage-featured-content-box-inner{
        background: rgba(255,255,255, 0.6);
        padding: 50px 30px;
    }
    .flow-homepage .image-with-text-wrapper .featured-row__subtext p{
        margin-top: 10px;
    }
}

/* Ranking */
.ranking .homepage-product-grid-wrapper{
    flex-wrap: nowrap;
    padding-top: 6px;
}
.ranking .quick-add-wrapper{
    max-width: 160px;
    margin: 0 auto;
}
.ranking .swiper-button-next,
.ranking .swiper-button-prev{
    top: 42%;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    box-shadow: 0px 0px 12px 0px rgba(142, 142, 142, 0.25);
}
.ranking .swiper-button-next::after{
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    display: inline-block;
    transform: rotate(45deg);
    margin-left: -2px;
}
.ranking .swiper-button-prev::after{
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    display: inline-block;
    transform: rotate(-135deg);
    margin-right: -2px;
}
.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}
.ranking.homepage-featured-content-wrapper{
    padding: 0 50px;
}
.ranking .homepage-product-grid-wrapper .grid__item.swiper-slide{
    visibility: hidden;
}
.ranking .homepage-product-grid-wrapper .grid__item.swiper-slide.swiper-slide-active{
    visibility: visible;
}
.ranking .homepage-product-grid-wrapper .grid__item.swiper-slide::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 43px;
    display: block;
    width: 52px;
    height: 54px;
    z-index: 100;
}
.ranking .homepage-product-grid-wrapper .grid__item.swiper-slide::after{
    content: '';
    position: absolute;
    line-height: 45px;
    font-size: 24px;
    top: -7px;
    left: 63px;
    z-index: 101;
}
.ranking .homepage-product-grid-wrapper .grid__item.swiper-slide:first-child::before{
    border-left: 26px solid #FCDF55;
    border-right: 26px solid #FCDF55;
    border-bottom: 10px solid transparent;
}
.ranking .homepage-product-grid-wrapper .grid__item.swiper-slide:nth-child(2)::before {
    border-left: 26px solid #E1E1E1;
    border-right: 26px solid #E1E1E1;
    border-bottom: 10px solid transparent;
}
.ranking .homepage-product-grid-wrapper .grid__item.swiper-slide:nth-child(3)::before {
    border-left: 26px solid #E8AF8D;
    border-right: 26px solid #E8AF8D;
    border-bottom: 10px solid transparent;
}
.ranking .homepage-product-grid-wrapper .grid__item.swiper-slide:first-child::after{
    content: '1';
    color: #A58E20;
}
.ranking .homepage-product-grid-wrapper .grid__item.swiper-slide:nth-child(2)::after {
    content: '2';
    color: #838383;
}
.ranking .homepage-product-grid-wrapper .grid__item.swiper-slide:nth-child(3)::after {
    content: '3';
    color: #8A4217;
}
@media only screen and (min-width: 769px){
    .ranking.homepage-featured-content-wrapper {
        padding-right: 7rem;
    }
    .ranking .homepage-product-grid-wrapper .grid__item.swiper-slide{
        visibility: visible;
    }
    .shopify-section .ranking .homepage-featured-rich-text{
        max-width: 290px;
    }
}

/* information bar */
.shopify-section .wrapper-padded.information_bar{
    margin: 20px auto 0;
}
.information_bar dl{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin: 10px 0 0;
}
.information_bar dl dd{
    margin: 0;
}
.information_title{
    font-size: 14px;
    font-weight: 600;
    color: #C63134;
    line-height: 14px;
    letter-spacing: .2em;
}
@media only screen and (min-width: 769px){
    .shopify-section .wrapper-padded.information_bar{
        display: flex;
        align-items: center;
        padding-left: 6%;
    }
    .information_bar dl{
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .information_bar dl dd{
        margin-left: 12px;
    }
    .information_title{
        margin-right: 20px;
    }
}

/* drawer */
.custom_top::after{
    content: '';
    display: block;
    width: 92%;
    border-top: 1px solid var(--cart-drawer-text-color);
    opacity: .2;
    margin: 0 auto;
} 
#CartContainer .ajaxcart__footer .cart__checkout{
    width: 100%;
    max-width: 300px;
    padding: 16px 35px;
}
.drawer--right #CartContainer .ajaxcart__qty{
    max-width: 130px;
}
.drawer--right #CartContainer input{
    padding: 10px 25px;
    border-bottom: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.drawer--right #CartContainer .ajaxcart__qty-adjust{
    padding: 0 14px;
}

/* 商品詳細 */
.template-product .product-details-wrapper{
    background: white;
    padding: 20px 0;
}
.template-product .swatch .swatch-element.image-swatch label.image-swatch-small.aspect-ratio--square{
    width: auto;
    height: auto;
    padding: 5px 20px;
    border: 1px solid #333;
}
.template-product .swatch .swatch-element.image-swatch label.image-swatch-small.aspect-ratio--square:hover{
    background: #C63134;
    border-color: #C63134;
    color: white;
}
.template-product .swatch .swatch-element.image-swatch input+label:after{
    border: none;
}
.template-product .swatch .swatch-element label{
    border-radius: 20px;
    padding: 5px 20px;
}
.template-product .swatch input:checked+label{
    border-radius: 20px;
    padding: 5px 20px;
}
.template-product .paymentButtonsWrapper #AddToCart.add-to-cart--secondary:not(.disabled){
    background: #C63134;
    color: white;
    padding: 16px 35px;
    font-weight: 600;
}
.template-product .paymentButtonsWrapper #AddToCart, 
.template-product .paymentButtonsWrapper .shopify-payment-button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 10px;
    display: block;
}
.template-product .product-description.product-description--collapsible{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.template-product .collapsible-tab-container{
    border-bottom: 1px solid #ccc;
}
.collapsible-tab details summary .text-with-icon,
.collapsible-tab details summary .product-description .collapsible-tab-content .text-with-icon {
    padding: 20px 0;
}
.collapsible-tab-content .text-with-icon .text-with-icon--content{
    font-weight: 500;
    padding-right: 20px;
}
.cross-sells-wrapper .product-description-header{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Noto Sans JP', Roboto, sans-serif!important;
}
.template-product .cross-sells-wrapper{
    padding: 0;
    margin: 20px 0;
}
.cross-sells-wrapper .btn:hover:not([disabled]){
    background: #C63134;
}
.cross-sells-wrapper .image{
    max-height: 90px;
}
.linked-products{
    border-top: 1px solid #ccc;
}
.linked-products .swatch .header{
    margin-bottom: 20px;
}
#cross-sell-cross-sells{
    margin-top: 40px;
}
.social-sharing{
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
}
#sharing.social-sharing a:first-of-type {
    margin-left: 0;
}
.template-product #AddToCartForm #Quantity{
    padding: 10px 25px;
    border-bottom: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.template-product #AddToCartForm .js-qty{
    max-width: 130px;
}
.template-product #AddToCartForm .ajaxcart__qty-adjust, 
.template-product #AddToCartForm .js-qty__adjust{
    padding: 0 14px;
}
.template-product .text-with-icon svg{
    fill: #C63134;
}
@media only screen and (min-width: 769px){
    .template-product .main-page-container{
        max-width: 1260px;
    }
    .template-product .product-details-wrapper{
        padding: 40px;
    }
    .cross-sells-wrapper .image{
        max-height: 50px;
    }
    .template-product .paymentButtonsWrapper #AddToCart, 
    .template-product .paymentButtonsWrapper .shopify-payment-button{
        max-width: none;
    }
    .social-sharing{
        justify-content: flex-end;
    }
}

/* reviews */
#shopify-block-product-reviews .spr-container .spr-review,
#shopify-block-product-reviews .spr-container .spr-form{
    border-top: 1px solid #e06b6e!important;
}
#shopify-block-product-reviews .spr-container .spr-review-header-byline{
    font-style: normal;
}
.spr-pagination-next a{
    padding-right: 15px;
    position: relative;
}
.spr-pagination-next a::after{
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0815/8035/9955/files/Vector.png?v=1696315821);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    display: block;
    height: 7px;
    position: absolute;
    right: 0;
    bottom: 7px;
    transform: rotate(-90deg);
}
.spr-pagination-prev a{
    padding-left: 15px;
    position: relative;
}
.spr-pagination-prev a::before{
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0815/8035/9955/files/Vector.png?v=1696315821);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    display: block;
    height: 7px;
    position: absolute;
    left: 0;
    bottom: 7px;
    transform: rotate(90deg);
}

@media only screen and (min-width: 769px){
    #shopify-block-product-reviews{
        max-width: 1200px;
        margin: 0 auto;
    }
    .spr-pagination-next a:hover,
    .spr-pagination-prev a:hover{
        text-decoration: underline;
    }
}

.shopify-policy__body .rte h2{
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}
.shopify-policy__body table{
    width: 100%!important;
}
.shopify-policy__body tbody{
    border: 1px solid #ccc;
}
.shopify-policy__body tbody tr td:first-of-type{
    background: #f8f8f8;
}
.shopify-policy__body td{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
@media only screen and (min-width: 769px){
    .shopify-policy__body .rte h2{
        font-size: 20px;
    }
    .shopify-policy__body table{
        width: auto!important;
    }
}

/* cart */
.shopify-section .cart{
    margin-bottom: 40px;
}
.cart .cart-table th,
.cart .cart-table td,
.cart .cart__row.grid{
    border-top: 1px solid #ccc;
}
.cart .cart__row.grid{
    margin-top: 40px;
}
.cart .js-qty .js-qty__num{
    padding: 10px 25px;
    border-bottom: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.cart .cart--button-checkout:hover{
    background-color: #C63134;
    color: white;
}
.drawer--right .ngc-note-attr-field{
    margin: 0 auto;
}
.ngc-note-attr-field label,
.ngc-note-attr-field > div{
    color: #333;
    font-size: 13px;
}

/* login */
#customer_login {
    margin-bottom: 40px;
}
#customer_login .login-form-cancel.btn--secondary{
    width: 100%;
    margin-top: 0;
}
a#customer_register_link:hover,
a#RecoverPassword:hover{
    text-decoration: underline;
}

/* mypage */
.account-area--order-details tr th,
.account-area--order-details td{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
@media only screen and (max-width: 768px){
    .customer-logged-in .wrapper-padded .grid__item{
        margin-bottom: 40px;
    }
}

/* blog */
.blog-main--article-title a{
    font-size: 16px;
}
.article--indiv .grid__item{
    margin-top: 0;
}
.article--indiv .grid__item .rte{
    font-size: 13px;
}
.article--indiv .grid__item p a{
    position: relative;
    display: inline-block;
    font-size: 13px;
}
.article--indiv .grid__item p a .chevron-down{
    position: absolute;
    right: -20px;
    top: 8px;
    display: block;
    width: 20px;
    transform: rotate(-90deg);
}
.article--indiv .grid__item p a:hover{
    text-decoration: underline;
}
.grid hr,
.grid__item hr{
    border-top: 1px solid #ccc;
}
.template-blog .blog-main--wrapper{
    margin-bottom: 40px;
}
.template-article .left,
.template-article .right{
    position: relative;
}
.template-article .left{
    padding-left: 20px;
}
.template-article .right{
    padding-right: 20px;
}

.template-article .left .chevron-down,
.template-article .right .chevron-down{
    position: absolute;
    right: 0px;
    top: 9px;
    display: block;
    width: 20px;
    transform: rotate(-90deg);
}
.template-article .left .chevron-down{
    right: auto;
    left: 0;
    transform: rotate(90deg);
}
.template-article h1.page--title{
    font-size: 20px;
    text-align: left;
}
.template-article .indiv-post-time{
    text-align: left;
}
.template-article .blog-main--wrapper .social-sharing{
    margin-top: 40px;
}
.template-article .social-sharing{
    border-top: none;
}
.template-blog .blog-main--wrapper h1.page--title{
    margin-bottom: 35px;
}
.template-blog .blog-template--main .blog-template--individual:first-child{
    margin-bottom: 0;
}
.template-article .blog-main--wrapper{
    padding-top: 0;
}
.template-article h1.page--title{
    margin-top: 30px;
}
@media only screen and (min-width: 769px){
    .template-article h1.page--title{
        font-size: 28px;
    }
}

/* list */
.grid__item.two-thirds.item--content > p{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 84px;
}
@media only screen and (min-width: 769px){
    .grid__item.two-thirds.item--content > p{
        -webkit-line-clamp: 5;
        max-height: 125px;
    }
}