/* Place any CSS overrides in this file. */
body{
    font-family: 'Noto Sans JP', Roboto, sans-serif!important;
}

/* header */
.contact-page .overlay-header, 
.template-collection .overlay-header, 
.template-index .overlay-header, 
.template-list-collections .overlay-header{
    border-bottom: none!important;
    background-color: transparent;
    background-color: white!important;
    padding: 0;
}
header .site-header__logo{
    background: white;
}
header .site-header__wrapper__left{
    margin: 0!important;
}
.site-nav__link{
    color: #333!important;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Noto Sans JP';
}
.drawer.drawer--left{
    width: 100%;
    max-width: 100%;
}
#NavDrawer .mobile-menu--close-btn:after, 
#NavDrawer .mobile-menu--close-btn:before{
    content: none;
}
#NavDrawer .mobile-nav__grow{
    margin-left: 10px;
    justify-content: flex-start;
}
.nav-bar .wrapper-padded{
    padding: 0 13px 0 10px;
}
.nav-bar .site-header__logo.h1{
    padding: 15px 0;
}
.nav-bar .responsive-image-wrapper{
    justify-content: flex-start;
}
img.logo_overlay.js,
.nav-bar .responsive-image-wrapper img.logo_image {
    max-width: 165px!important;
    margin: 0;
}
.nav-bar .six-twelfths{
    width: 50%;
    margin-top: 0;
}
.nav-bar .three-twelfths.right-side{
    width: 35%;
    margin-top: 0;
}
.nav-bar.mobile-nav-bar-wrapper .mobile-grid--table{
    display: flex;
    table-layout: unset;
    justify-content: space-between;
    align-items: center;
}
.nav-bar.mobile-nav-bar-wrapper .mobile-grid--table .flex_menu{
    order: 3;
    width: 15%;
    margin-top: 0;
}
.nav-bar.mobile-nav-bar-wrapper button.site-nav__link{
    padding: 0;
    margin-left: 0;
}
.site-nav--mobile .js-drawer-open-right-link.site-nav__link, 
.site-nav--mobile .site-nav__link:nth-child(2){

}
.site-nav--mobile a{

}
.nav-bar .site-nav--mobile .search-button svg,
#NavDrawer .site-nav--mobile .search-button svg{
    width: 25px;
}
.mobile-nav .mobile-nav__has-sublist.mobile-nav--expanded + .mobile-nav__sublist{
    padding-bottom: 15px;
}
.mobile-nav .mobile-nav__sublist .mobile-nav__link{
    font-size: 13px;
    padding: 7px 0;
}
.mobile-nav .mobile-nav__sublist .mobile-nav__item:after{
    content: none;
}
.mobile-nav__item.icon_instagram a{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    margin: 0;
}
.mobile-nav__item.icon_instagram a svg{
    width: 43px;
    height: 43px;
}
.drawer.drawer--right{
    border-left: none;
    max-width: 100%;
}
.drawer.drawer--right #CartContainer{
    
}
.drawer.drawer--right.short {
    height: 135px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.drawer.drawer--right.short .search-drawer svg{
    width: 25px;
}
.drawer.drawer--right.short #SearchContainer .search-drawer > .input-group{
    margin: 30px auto 37px 24px;
    width: 300px;
}
.drawer.drawer--right.short #SearchContainer #search-input{
    border: 1px solid #666;
    border-radius: 7px;
    padding: 22px 8px 15px;
}
.drawer.drawer--right.short #SearchContainer #search-input::placeholder{
    color: #ccc;
}
.drawer.drawer--right.short #SearchContainer .input-group-btn{
    top: 10px;
    left: auto;
    right: 0;
}
@media only screen and (min-width: 769px){
    header{
        max-width: 1500px;
        position: relative;
        margin: auto;
    }
    header.site-header .site-header__wrapper .site-header__wrapper__left .site-header__logo{
        padding: 30px 20px 30px 30px;
    }
    .contact-page .overlay-header, 
    .template-collection .overlay-header, 
    .template-index .overlay-header, 
    .template-list-collections .overlay-header{
        border-bottom: none!important;
        background-color: transparent!important;
        margin-left: 0;
    }
    img.logo_overlay.js,
    .nav-bar .responsive-image-wrapper img.logo_image {
        max-width: 314px!important;
        margin: 0;
    }
    .flow-homepage{
        margin-top: 100px;
    }
    .sticky-headr,
    .template-index .header-section.sticky-header.sticky-header-open:not(.unstuck) .overlay-header{
        background-color: transparent!important;
    }
    .drawer.drawer--left{
        width: 0;
    }
    .top-links--icon-links{
        flex-direction: column;
        position: fixed;
        top: 125px;
        right: 25px;
        gap: 20px
    }
    .top-links .top-links--icon-links li a{
        padding: 0;
    }
    .top-links .top-links--icon-links li a:hover{
        opacity: .8;
    }
    header .site-header .wetheme-dropdown button:hover, 
    header .site-header__logo-link:hover, 
    header .top-links a:focus, 
    header .top-links a:hover{
        color: #C63134!important;
        transition: 0.3s;
    }
    .site-nav__dropdown.standard-dropdown li .site-nav__link{
        font-size: 13px;
        font-weight: 400;
    }
    .site-nav--has-dropdown a{
        position: relative;
    }
    .site-nav--has-dropdown > a::after{
        content: '';
        background: url(https://cdn.shopify.com/s/files/1/0815/8035/9955/files/Vector_red.png?v=1696315821);
        background-repeat: no-repeat;
        background-size: contain;
        width: 12px;
        display: block;
        height: 7px;
        position: absolute;
        right: 0;
        bottom: 22px;
    }
    .site-header .site-header__wrapper .site-header__wrapper__right{
        margin-right: 28px;
    }
    .icon_instagram{
        vertical-align: middle;
    }
    .icon_instagram a{
        padding: 0;
    }
    .drawer.drawer--right{
        max-width: 500px;
    }
    .drawer.drawer--right.short {
        height: 180px;
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }
    .drawer.drawer--right.short .drawer__header{
        width: 16px;
        margin-left: 20px;
    }
    .drawer.drawer--right.short .drawer__close button{
        width: 16px;
        height: 16px;
        right: 0;
        top: 0;
    }
    .drawer.drawer--right.short #SearchContainer .search-drawer>.input-group{
        width: 500px;
    }
}

/* footer */
.footer-wrapper{
    border-top: 1px solid #C63134;
}
.footer-main .footer-header{
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    position: relative;
    margin-bottom: 0;
}
.footer-main .grid .grid__item:nth-child(1) .footer-header{
    border-top: none;
}
.footer-main .footer-article,
.footer-main .footer-content{
    text-align: left;
    font-weight: 500;
    line-height: 1.7rem;
    margin-top: 20px;
}
.footer-content > a{
    font-size: 14px;
}
.links-footer .footer-content > li{
    margin-bottom: 10px;
}
.links-footer .footer-content .footer--level-2{
    margin-bottom: 26px;
    padding-left: 0;
}
.footer-article p,
.footer-content .footer--level-2 a{
    font-size: 13px;
}
.bottom--footer a{
    color: black;
}
.link_contact__footer{
    background: #C63134;
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding: 15px 50px;
    display: inline-block;
    width: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}
.links-footer .footer-header::after{
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0815/8035/9955/files/Vector.png?v=1696315821);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    display: block;
    height: 7px;
    position: absolute;
    right: 0;
    bottom: 10px;
} 
.links-footer .footer-header.opened::after{
    transform: rotate(180deg);
}
.links-footer .footer-content{
    display: none;
    transition: .3s;
}
.links-footer .footer-content.opened{
    display: block;
    transition: .3s;
}
@media only screen and (min-width: 769px){
    .footer-wrapper{
        padding-top: 100px;
    }
    .footer-main .footer-content a:hover{
        color: #C63134;
        transition: 0.3s;
    }
    .links-footer .footer-header::after{
        content: none;
    }
    .links-footer .footer-content{
        display: block;
    }
    .link_contact__footer{
        padding: 12px 36px;
        font-size: 14px;
        font-weight: 500;
    }
    .footer-main .link_contact__footer:hover{
        opacity: 0.8;
        color: white;
    }
    .footer-main .footer-header{
        font-size: 16px;
    }
    .footer-main .grid .grid__item{
        padding-left: 75px;
        position: relative;
    }
    .footer-main .grid .grid__item::before{
        content: '';
        background: #C63134;
        height: 315px;
        width: 1px;
        position: absolute;
        left: 0;
    }
    .footer-main .grid .grid__item:nth-child(1){
        padding-left: 150px;
    }
    .footer-main .grid .grid__item:nth-child(1)::before{
        content: none;
    }
    .footer-main .grid .grid__item:nth-child(2) .footer-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
    }
    .footer-main .footer-article{
        line-height: 1rem;
    }
    .footer-main .footer-content{
        line-height: 1.5rem;
    }
}

/* MV */
@media only screen and (min-width: 769px){
    .flow-homepage .homepage-slider-container{
        padding-left: 6%;
    }
}

/* information */
.homepage-information-section-wrapper{
    display: none;
}
.template-index .swiper-wrapper.invalid{

}
.template-index .blog-posts-wrapper .wrapper-padded{
    display: flex;
    flex-direction: column;
}
.template-index .blog-posts-wrapper .grid > .row{
    display: flex;
    flex-direction: column;
}
.template-index .blog-posts-wrapper .large--one-quarter{
    width: 100%;
}
.template-index .homepage-information-section-wrapper{
    display: block;
}
.template-index .blog-posts-wrapper .homepage-sections--title{
    color: #C63134;
    font-size: 24px;
    text-align: left;
    position: relative;
}
.template-index .blog-posts-wrapper .homepage-sections--title::after{
    content: 'お知らせ';
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-left: 20px;
}
.homepage-information-section-wrapper .homepage-information-section-wrapper_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 40px;
}
.homepage-information-section-wrapper .homepage-information-section-wrapper__title span{
    font-size: 20px;
}
.homepage-information-section-wrapper .homepage-information-section-wrapper__title p{
    color: #C63134;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .2em;
    margin: 0;
}
.homepage-information-section-wrapper .homepage-information-section-wrapper__img{
    max-width: 100px;
}
.homepage-information-section-wrapper .homepage-information-section-wrapper__btn a{
    background-color: #C63134;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 24px 0;
    width: 100%;
    display: block;
    text-align: center;
}
.blog-posts-wrapper .homepage-blog--date{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.blog-posts-wrapper .homepage-blog--title{
    margin: 10px 0;
}
.blog-posts-wrapper .homepage-blog--title a{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Noto Sans JP';
}
.homepage-blog-mobile .grid__item{
    margin-bottom: 20px;
}
.blog-posts-wrapper .information__more{
    text-align: center;
    margin-bottom: 30px;
}
.blog-posts-wrapper .information__more a{
    background: #333;
    color: white;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 30px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
@media only screen and (min-width: 769px){
    .template-index .blog-posts-wrapper .wrapper-padded{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .template-index .blog-posts-wrapper .homepage-indiv-section-wrapper{
        width: 50%;
    }
    .template-index .blog-posts-wrapper .homepage-indiv-section-wrapper .grid{
        margin-left: 0;
    }
    .template-index .blog-posts-wrapper .grid__item{
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 35px;
        padding-left: 0;
    }
    .template-index .blog-posts-wrapper .grid__item .homepage-blog--title{
        margin: 0 0 0 20px;
        line-height: 1;
    }
    .template-index .homepage-information-section-wrapper{
        width: 50%;
        max-width: 450px;
    }
    .homepage-information-section-wrapper .homepage-information-section-wrapper_inner{
        padding: 10px 30px;
    }
    .homepage-information-section-wrapper .homepage-information-section-wrapper__btn a{
        max-width: 330px;
        margin: 0 auto;
    }
    .homepage-information-section-wrapper .homepage-information-section-wrapper__btn a:hover{
        opacity: .8;
    }
    .template-index .blog-posts-wrapper .grid>.row{
        margin-bottom: 20px;
    }
    .blog-posts-wrapper .information__more{
        text-align: left;
    }
    .blog-posts-wrapper .information__more a:hover{
        background-color: #C63134;
        transition: .2s;
    }
}

/* category menu */
.flow-homepage .homepage-collections-background .collection-grid .homepage-collection-grid-item{
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
.flow-homepage .homepage-collections-background .collection-grid .homepage-collection-grid-item::after{
    content: '';
    background: url(https://cdn.shopify.com/s/files/1/0815/8035/9955/files/Polygon_4.png?v=1696495643);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 12px;
    height: 13px;
}
.flow-homepage .collection-grid .homepage-collection-grid-item .grid-image{
    max-width: 46px;
    max-height: 36px;
    margin-right: 20px;
}
.flow-homepage .collection-grid .homepage-collection-grid-inner{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.flow-homepage .collection-grid .homepage-collection-grid-item .grid-item__title{
    font-family: 'Noto Sans JP';
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.flow-homepage .collection-grid .homepage-collection-grid-item .grid-item__content{
    padding: 0;
}
@media only screen and (min-width: 769px){
    .flow-homepage .collection-grid{
        max-width: 1200px;
        margin: 0 auto;
    }
    .flow-homepage .collection-grid .homepage-collection-grid-inner{
        flex-direction: column;
    }
    .flow-homepage .collection-grid .homepage-collection-grid-item .grid-image{
        margin: 0 0 15px 0; 
    }
    .flow-homepage .homepage-collections-background .collection-grid .homepage-collection-grid-item{
        border-bottom: none;
        border-right: 1px solid #ccc;
        padding: 20px 0 5px 0;
    }
    .flow-homepage .homepage-collections-background .collection-grid .homepage-collection-grid-item:after{
        right: 10px;
        width: 12px;
    }
    .flow-homepage .homepage-collections-background .collection-grid > .homepage-collection-grid-item:first-of-type{
        border-left: 1px solid #ccc;
    }
    .flow-homepage .homepage-collections-background .collection-grid .homepage-collection-grid-item:hover{
        opacity: .7;
    }
}

/* おばねやの思い */
.flow-homepage .image-with-text-wrapper h2.homepage-sections--title{
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
}
@media only screen and (max-width: 768px){
    .flow-homepage .image-with-text-wrapper .responsive-image-wrapper img{
        width: auto;
        height: 600px;
    }
    .flow-homepage .image-with-text-wrapper .feature_row__image_wrapper{
        height: max-content;
        position: absolute!important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        float: none;
        padding: 22px;
    }
    .flow-homepage .image-with-text-wrapper .feature_row__image_wrapper > .homepage-featured-content-box-inner{
        background: rgba(255,255,255, 0.4);
    }
}
@media only screen and (min-width: 769px){
    .flow-homepage .image-with-text-wrapper h2.homepage-sections--title{
        font-size: 32px;
    }
    .flow-homepage .image-with-text-wrapper .feature_row__image_wrapper{
        margin: auto!important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: max-content;
        transform: none;
        width: 60%;
        background: transparent;
    }
    .flow-homepage .image-with-text-wrapper .feature_row__image_wrapper > .homepage-featured-content-box-inner{
        background: rgba(255,255,255, 0.6);
        padding: 50px 30px;
    }
    .flow-homepage .image-with-text-wrapper .featured-row__subtext p{
        margin-top: 10px;
    }
}